<div class ="m-3">
  <h1> Stupid coaching</h1>
  <% @answers.each do |question, answer| %>
   <p>question : <%= question %></p>
   <p>reponse : <%= answer %></p>
  <%end %>
  <%= link_to "Ask a new question", ask_path %>
</div>


<%=  %>

<%  %>
